<div class="row">
    <div class="col-md-6">
      <div id="chat-app">
        
        <div id="message-container"></div>
        <form id="send-container">
            <input type="text" id="message-input">
            <button type="submit" id="send-button">Send</button>
        </form>
     </div>
    </div>
    <div class="col-md-6">
      <div id="chat-monster"></div>
      <div id="chat-suitor1"></div>
      <div id="chat-suitor2"></div>
      <div id="chat-suitor3"></div>
    </div>
    </div>