<form>
<label>Username</label>
 <input type="text" id="username" name="username">
 <label>password</label>
 <input type="password" id="password" name="password">
   <input type="button" value="submit" onclick=>  
 </form>