<form>
<label>First Name</label>
 <input type="text" id="first-name" name="first-name">
 <label>Last Name</label>
 <input type="text" id="last-name" name="last-name">
<div name="dob"> 
<label>Date of Birth</label>
 <input type="date" id="date" name="date">
 </div>
<div name="gender">
 <label>Gender</label>
 <input type="radio" name="male" name="male" >   
 <input type="radio" name="female" name="female"> 
</div>
<div name="pre-gender">
    <label>Select your prefered gender(s)</label>
 <input type="checkbox" name="gender1" value="male">
 <input type="checkbox" name="gender2" value="female">
</div>
<label>E-mail</label>
 <input type="email" id="email" name="email">
 <label>Phone Number</label>
 <input type="tel" id="phone" name="phone">
 <label>Are you over the age of 18 and is the information above correct?</label>

 <input type="button" value="Yes I am 18 years or older" onclick=>  
<input type="button" value="No I am a child" onclick=>  
 </form>

