<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Love Monster</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
      <h1 class="nav-item">
        <a class="nav-link" href="/">Love Monster</a>
      </h1>
      <h3 class="nav-item">
        {{#if loggedIn}}
          <a class="nav-link" href="/dashboard">Dashboard</a>
      </h3>
      <nav class="nav-link">
         <button id="logout" class="nav-link active">logout</button>
        {{else}}
         <a class="nav-link navbar-right" href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
      
    </main>

    <footer>
      Happy Hunting
    </footer>
  </div>
 
 {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

 
</body>

</html>