 {{> chat post}}

 <div id="suitor/monster">
 <input type="button" value="suitor" onclick=>  
 <input type="button" value="monster" onclick=>  
 </div>

    <div id="profile-container">
        <div id="image1">
            
        </div>
        <div id="image2">
            
        </div>
        <div id="image3">
            
        </div>
        <div id="image4">
            
        </div>
    </div>