<ol class="results">
    <div class="lava-result">
        <h1>YOU'RE A LAVA MONSTER!</h1><br>
        <h3>Congratulations! You are a Lava Monster! You're outgoing and always around to lend a helping hand. You have old fashioned tendencies but treat everyone equally. Ideally, your perfect Monster Match is with a Snow Monster!</h3>
    </div>
</ol>