<script src='/javascript/match-logic.js' defer></script>
<ol class="questions">
{{#each questionsQuiz as |Quiz|}}
  <li>
    {{> questions Quiz }}
  </li>
  {{/each}}
  <input type='submit' id='submit-btn'value="Find Your Love Monster!">
</ol>