<ol class="results">
    <div class="mud-result">
        <h1>YOU'RE A MUD MONSTER!</h1><br>
        <h3>Congratulations! You are a Mud Monster! You're ambitious and very resourceful. You're honest and passionate in a relationship. Ideally, your perfect Monster Match is with a Sand Monster!</h3>
    </div>
    <button type="submit" class="btn">Join Chat</button>
</ol>