<ol class="results">
    <div class="monster-result">
        <h1>YOU'RE A MUD MONSTER!</h1><br>
        <h3>Congratulations! You are a Mud Monster! You're ambitious and very resourceful. You're honest and passionate in a relationship. Ideally, your perfect Monster Match is with a Sea Monster!</h3>
    </div>
    <div class='monster-img'>
        <img src="/pic/mud.jpg" class='rounded float-right' alt="Mud Monster">
    </div>
    <button type="submit" class="join-btn">Join Chat</button>
</ol>
<script src='/javascript/join-chat.js'></script>