<ol class="results">
    <div class="snow-result">
        <h1>YOU'RE A SNOW MONSTER!</h1><br>
        <h3>Congratulations! You are a Snow Monster! You're a planner and enjoy good conversation. You're knowledgable and prefer your partner to be as well. Ideally, your perfect Monster Match is with a Lava Monster!</h3>
    </div>
    <button type="submit" class="join-btn">Join Chat</button>
</ol>
<script src='/javascript/join-chat.js'></script>