<ol class="results">
    <div class="snow-result">
        <h1>YOU'RE A WILD THING!</h1><br>
        <h3>Congratulations! You are a Wild Thing! You're easygoing but understand and can connect with everyone you meet. You're spunky and outgoing but you understand when you need a recharge. Ideally, your perfect Monster Match is with any Monster! Sand, Lava, Snow or Mud Monsters are all great matches for your flexible personality!</h3>
    </div>
    <button type="submit" class="join-btn">Join Chat</button>
</ol>