<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Love Monster</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="questions">
    <header>
      <h1>
        <a href="/">WHAT'S YOUR LOVE MONSTER?!</a>
      </h1>
    </header>
    <main>
      {{{ questions }}}
    </main>
    <footer>
      Find your Monster Match today!❤️
    </footer>
  </div>

</body>